<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ExampleComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Source="$(var.WixLocalizationExample.WPF.TargetDir)WixLocalizationExample.WPF.exe" />
        <File Source="$(var.WixLocalizationExample.WPF.TargetDir)WixLocalizationExample.WPF.exe.config" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
