<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="WixLocalizationExample.Setup" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="fe75d55c-8525-4806-b727-19e4b83e2972" Compressed="yes">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
