<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="WixLocalizationExample.Bootstrapper" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="dacc2f7f-8d4f-4ce3-9054-23eaef798e1b">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication LicenseFile="License.rtf" Theme="rtfLicense" />
      <Payload Name="2058\thm.wxl" SourceFile="2058\thm.wxl"/>
      <Payload Name="3084\thm.wxl" SourceFile="3084\thm.wxl"/>
    </BootstrapperApplication>

    <Chain>
      <MsiPackage SourceFile="$(var.WixLocalizationExample.Setup.TargetDir)WixLocalizationExample.Setup.msi" />
    </Chain>

  </Bundle>
</Wix>
